version: 1

formatters:
    simple:
        format: '%(message)s'

handlers:
    console:
        class: logging.StreamHandler
        level: DEBUG
        formatter: simple
        stream: ext://sys.stdout

    clogfile:
        class: utils.cloghandler.ConcurrentRotatingFileHandler
        level: DEBUG
        maxBytes: 4194304
        backupCount: 10
        delay: true
        filename: '/tmp/clogfile-sample.log'
        formatter: 'simple'

loggers:
    main:
        level: DEBUG
        handlers: [clogfile]
        propagate: yes

root:
    level: DEBUG
    handlers: [console]
